<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
</head>
<body>
<form action="<?php echo site_url('login/validate_credentials') ?>" method="post">
    Name: <input type="text" name="Name"/> <br/>
    Surname: <input type="text" name="surname"/> <br/>
    Job Title: <input type="text" name="jobtitle"/> <br/>
     
     <select name="dep">
<option value="Engineering">Engineering</option>
<option value="Sales">Sales</option>
<option value="Finance">Finance</option>
</select>
    <input type="Submit" value="Search">
</form>
</body>
</html>